{% extends "base.html" %}

{% block content %}
<section class="max-w-3xl mx-auto">

  <!-- Заголовок -->
  <div class="glass-card p-6 mb-8">
    <h1>
    {{ title|default:"Создание тарифа" }}
    </h1>
    <p class="text-[#6ECBF5] mt-2">
      Настройка стоимости и категории тарифа
    </p>
  </div>

  <!-- Форма -->
  <form method="post" class="space-y-8">
    {% csrf_token %}

    <div class="glass-card p-6 space-y-6">
      <div>
        <label class="form-label">Категория ПК</label>
        {{ form.category }}
      </div>

      <div>
        <label class="form-label">Название тарифа</label>
        {{ form.name }}
      </div>

      <div>
        <label class="form-label">Цена за час (₽)</label>
        {{ form.price_per_hour }}
      </div>

      <div>
        <label class="form-label">Описание</label>
        {{ form.description }}
      </div>
    </div>

    <!-- Кнопки -->
    <div class="flex justify-between items-center">
      <a href="{% url 'tariffs:list' %}"
         class="text-[#E0D9F6] hover:text-[#6ECBF5] transition">
        ← Назад к тарифам
      </a>

      <button type="submit" class="btn text-lg px-10">
        Сохранить
      </button>
    </div>

  </form>
</section>
{% endblock %}
