{% extends 'base.html' %}
{% block content %}

<section class="contacts-container">
  <h1 class="contacts-title">Контакты</h1>

  <div class="contacts-grid">
    <div>
      <h3 class="contacts-subtitle">Catalyst Cyber Lounge</h3>
      <p class="contacts-text">
        Премиальный компьютерный клуб нового поколения.
      </p>

      <p class="contacts-address">📍 Курск, просп. Хрущёва, 2, 2 этаж</p>
      <p class="contacts-phone">📞 +7 (999) 999-99-99</p>
      <p class="contacts-email">✉ support@catalyst.ru</p>
    </div>

    <div class="glass-card map-container">
      <script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2c5189b9c80a712a0fb302430d51acf9dc69a315af073dc74a6359f8ba9a4189&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true">
      </script>
    </div>
  </div>
</section>

{% endblock %}