{% extends 'base.html' %}
{% block content %}

<div class="form-container">
  <div class="glass-card form-card">
    <div class="form-header-bar"></div>

    <h2 class="form-title">НОВЫЙ ПОЛЬЗОВАТЕЛЬ</h2>

    <form method="post">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="form-error">{{ form.non_field_errors }}</div>
      {% endif %}

      {% for field in form %}
        <div class="form-group">
          <label class="form-label" for="{{ field.id_for_label }}">
            {% if field.name == "username" %}Логин
            {% elif field.name == "email" %}Email
            {% elif field.name == "password1" %}Пароль
            {% elif field.name == "password2" %}Повтор пароля
            {% else %}{{ field.label }}
            {% endif %}
          </label>
          {{ field }}
          {% if field.errors %}
            <p class="field-error">{{ field.errors.0 }}</p>
          {% endif %}
        </div>
      {% endfor %}

      <button class="btn btn-full" type="submit">СОЗДАТЬ АККАУНТ</button>
    </form>

    <div class="form-footer">
      <p class="form-footer-text">
        Есть аккаунт?
        <a href="{% url 'users:login' %}" class="form-footer-link ">Войти</a>
      </p>
    </div>

  </div>
</div>

{% endblock %}